In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import plotly_express as px
from PIL import Image

In [10]:
df = pd.read_csv(r"C:\Users\Asus\Desktop\MinProject\data/india_covid.csv")

In [11]:
df.head()

,sl_no,state_ut,confirmed_cases,active_cases,recovered_cases,death_cases
0,2,Andaman and Nicobar Islands,3712,166,3494,52
1,1,Andhra Pradesh,646530,70357,570667,5506
2,3,Arunachal Pradesh,8133,2216,5903,14
3,4,Assam,163491,30182,132712,597
4,5,Bihar,172854,12958,159022,874

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sl_no            36 non-null     int64
 1   state_ut         36 non-null     object
 2   confirmed_cases  36 non-null     int64
 3   active_cases     36 non-null     int64
 4   recovered_cases  36 non-null     int64
 5   death_cases      36 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

In [14]:
df.shape

(36, 6)